
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Booklist listing page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
		
	</head>
	<body>
		<h1 th:text="'Book list'"></h1>
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		<table class="table table-striped">
		<!-- String title, String author, String isbn, int year, double price  -->
			<tr><th>Title</th><th>Author</th><th>Category</th></tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}"></td>
				<td	th:text="${book.author}"></td>
				<td th:text="${book.category.name}"></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-xs btn-danger">Delete</a></td>
					<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a></td>    
				<!-- <td  th:text="${book.price}"></td> -->
		</table>
		<a href="/add" class="btn btn-primary">Add Book</a>
		<form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out"/></form>
	</body>
</html>