
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Booklist listing page</title>
	</head>
	<body>
		<h1 th:text="'Book list'"></h1>	
		<table>
		<!-- String title, String author, String isbn, int year, double price  -->
			<tr><th>Title</th><th>Author</th><th>Price</th></tr>
			<tr th:each="book : ${books}">
				<td  th:text="${book.title}"></td>
				<td	 th:text="${book.author}"></td>
				<td  th:text="${book.price}"></td>
		</table>
	</body>
</html>